h1 {
    border: 2px solid black;
    padding: 20px;
    color: #ff0000b3;
    text-align: center;
    text-transform: uppercase;
}

p {
    text-indent: 50px;
    text-align: justify;
}

.p1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}